body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: auto;
    width: 90%;
    text-align: center;
}
header span{
    width: 8em;
    margin-left: 1%;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: #DDDDDD;
    border: none;
    padding: 0.3em;

}
header hr{
    color: #8B0000;
}
#titre h1{
    display: inline;
    font-size: 3em;
    font-weight: bolder;
}

#presentation{
    margin: auto;
    width: 60%;
    background-color: #DDDDDD;
    padding: 2.5rem;
}
#presentation h2{
    font-size: 2em;
    font-weight: bold;
}
#haut{
    display: block;
    margin:auto;
    text-align: center;
}
#presentation img{
    margin-top: 1em;
    margin-bottom: 1.5em;
}


#historique{
    font-size: 1em;
}
#historique span{
    font-weight: bold;
    font-size: 120%;
}
#pitch{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 0.7em;
}
#syno h3{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: #8B0000;
    font-size: 1.5em;
    font-weight: bold;

}
.synopsis{
    margin-top: 3em;
    font-size: 1em;
}

#acteurs{
    text-align: center;
    width: 50%;
    margin: auto;

}
.acteur{
    background-color: #DDDDDD;
    color:#8B0000;
    text-transform: uppercase;
    margin-top: 0.3em;
    font-size: 3vh;
    border-radius: 10px;
}
.acteur a {
    text-decoration: none;
}
.acteur a:hover{
    font-weight: bold;
}
h3{
    font-size: 6vh;
    margin-bottom: 0.5em;
    font-weight: bold;
}
#images{
    text-align: center;
}
.photo{
    margin: auto;
    margin-bottom: 1.5rem;
    width: 30%;
    border: 0.05em black solid;
    padding: 1em;
}
.photo img{
    max-width: 100%;
}
h4{
    font-weight: bold;
    color: #8B0000;
    font-size: 4vh;
    margin-bottom: 0.6em;
}

footer{
    background-color: #DDDDDD;
    width: 96%;
    margin: 2%;
    padding: 3%;
    text-align: center;
}